.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: rgb(253, 222, 153);

}
h1{
  font-family: "Fira Sans"
} 
/* .formStack{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
} */
/* .formDiv{
  /* align-items: left; */
  /* border: 2px solid green;
}  */ 
input, label{
  padding: 10px;
  margin: 5px;
  font-weight: bolder;
}
.teamMember{
  background-color: rgb(198, 223, 248);
  width: 300px;
  height: 250px;
  border-radius: 3px;
  margin:20px;
  box-shadow: 10px 10px 10px #444444;
  
}
.Team-list{
  text-align: center;
  /* display:inline-block; */
  display: flex;
  width: 700px;
  flex-wrap: wrap;
 justify-content: center;
 /* align-items: center; */
}
header{
  background-color: azure;
  width:100%;
  padding: 20px;
  box-shadow: 10px 10px 10px #444444;
  margin-bottom:20px;

}
button{
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  background-color: pink;
}
input{
  border-radius: 4px;
}